<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
		       xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
		>
<head>
<meta charset="UTF-8">
<title>EB Billing Management System</title>

	<link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css" />
  <script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
  <script type="text/javascript" src="/webjars/bootstrap/js/bootstrap.min.js"></script>
	
</head>
<body>
     <br>
	<div class="container my-2">
		<div class="text-center" >
       		 <img class="img-fluid" th:src="@{/images/logo.png}" alt="Logo"/>
    	</div>
    	<br>
			<h3 class="text-center">Yours Details</h3>
		<br>
		<br>
		<table border="2"class="table table-striped table-responsive-md" style="max-width: 900px; margin: 0 auto;">
			<thead>
				<tr>
					<th>Customer Id</th>
					<th>Email</th>
					<th>Meter No</th>
					<th>Name</th>
					<th>Address</th>
					<th>City</th>
					<th>State</th>
					<th>Phone</th>
					
				</tr>
			</thead>
			<tbody>
				<tr th:each="customer : ${customer}">
					<td th:text="${customer.customerid}"></td>
					<td th:text="${customer.email}"></td>
					<td th:text="${customer.meterno}"></td>
					<td th:text="${customer.name}"></td>
					<td th:text="${customer.address}"></td>
					<td th:text="${customer.city}"></td>
					<td th:text="${customer.state}"></td>					
					<td th:text="${customer.phone}"></td>
				</tr>
			</tbody>
		</table>
	</div><br>
			
	<div align="center">
	   <form  th:action="@{/customer/home}" method="get" id="form3">
		</form>	
		<form th:action="@{/customer/showFormForUpdate/{id}(id=${customer.customerid})}" method="post" id="form1">
		</form>
		<form  th:action="@{/customer/deleteCustomer/{id}(id=${customer.customerid})}" method="post" id="form2">
		</form>	
		<button  type="submit" form="form3" value="Back" class="btn btn-info ">Back</button><span>&ensp; </span>
		<button type="submit" form="form1" value="Update"  class="btn btn-primary">Update</button><span>&ensp; </span>
		<button  type="submit" form="form2" value="Delete" class="btn btn-danger ">Delete</button>
	</div>   				
</body>
</html>